* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}



body {
    overflow-x: hidden;
}

.navbar {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-right: -1px;
    position: sticky;
    top: 0;
    width: 100%;



}

.logo-section img {
    margin-left: 40px;
    padding-top: 5px;

}

.nav-link {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2.4rem;
    margin: 0px;

}




.nav-link li a {
    /* padding-left: 30px; */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;

}


.navbar-section .nav-link li a:hover {
    text-decoration: underline;
    color: #ff573b;
    cursor: pointer;

}




.btn {
    padding-right: 30px;
    height: 10px;
    margin-bottom: 80px;

}


.btn button {
    padding: 12px 10px 12px 10px;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 30px;
    /* background-color: #2e85d6; */
    background-color: #ff573b;
    color: #fff;
}


.btn button:hover {
    background-color: #ffff;
    color: black;
}


@media screen and (max-width:1156px) {
    .navbar-section {
        display: none;
        flex-direction: column;
    }

}












.outer {
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

}


.details {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}


.details h1 {
    font-size: 4em;
    color: #ffff;
}


.details h2 {
    text-transform: capitalize;
    color: #fff;
}


.details h2 span:nth-child(1) {
    color: #ff573b;
}


.details h2 span:nth-child(2) {
    color: yellow;
}


/* .banner-section */




.container {
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    /* background-image: url("/IMGES/imges-2.png"); */
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
    background-position: center;

}

@keyframes animate {

    0%,
    100% {
        background-image: url("/IMGES/trand1.png");
    }

    25% {
        background-image: url("/IMGES/trand2.png");
    }

    50% {
        background-image: url("/IMGES/trand3.png");
    }

    75% {
        background-image: url("/IMGES/trand4.png");
    }

    100% {
        background-image: url("/IMGES/trand5.png");
    }

}







/* about-section */


.banner-section {
    margin: 20px 10px 200px 20px;

}


.imges-section img {
    border-radius: 15px;
    height: auto;
    margin: 120px 100px 100px 100px;
}

.para-section {
    padding: 10px 50px 10px 160px;
}

.para-section h4 {
    font-size: 30px;
    color: rgb(0, 58, 102);
    padding-bottom: 10px;
}

.para-section h1 {
    font-size: 2.8rem;
    color: #00349b;
    padding-bottom: 30px;
}


.para-section p {
    font-size: 15px;
    line-height: 1.6;
    color: #00349b;

}





/* card-section */

.main-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;
    flex-wrap: wrap;

}




.card {
    width: 20%;
    display: inline-block;
    margin: 60px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;



}


.card-img img {
    max-width: 100%;
    height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


.title {
    text-align: center;
    padding: 5px;
    color: #00349b;
}

.disc {
    text-align: center;
    padding: 4px;
    color: #00349b;
}





.card:hover {
    box-shadow: 0 0 45px rgba(228, 215, 215, 0.1);
    transition: scale 0.3s linear;
}

button {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}


button:hover {
    background-color: black;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}



/* artical-section */

.food h5 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #00349b;
    margin-top: 80px;
}


.food h1 {
    /* font-size: 2.8rem; */
    font-size: calc(1.425rem + 2.1vw);
    color: #00349b;
    text-align: center;
    font-weight: 700;
    /* margin: 50px; */

}


.banner-section1 .imges-section2 img {
    width: 150%;
    padding-right: 410px;
    height: 180%;
    border-radius: 20px;


}


/* aside-section */


.aside-section h1 {
    text-align: center;
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 700;
    line-height: 1.2;
    color: #00349b;
    margin-bottom: 50px;
    padding-top: 50px;


}


.aside-section h5 {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #00349b;
    margin: 10px;
}

.card {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
    /* transition: width 2s linear 1s; */

}



.asise-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: var(--btn-box-shadow);
    flex-wrap: wrap;
    /* transition: scale 0.3s linear; */

}




.asise-section:hover {
    transition: width 2s linear 1s;
}



.btn button {
    text-align: center;
    border-radius: 100px;
}


.btn1 {
    text-align: center;
    border-radius: 30px;
    padding-bottom: 40px;

}

.btn1 button {
    padding: 20px 30px 20px 30px;
    background-color: #ff573b;
    color: white;
    font-size: 20px;

}

.btn1 button:hover {
    background-color: #fff;
    color: black;
    transition: width 2s linear 1s;

}






/* footer-section */

/* box 1 */

.Husmokh {
    background-color: #ff573b;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}



ul li {
    list-style: none;
}


.mom {
    font-size: 30px;
    font-weight: 700;
    text-align: start;


}


.Husmokh .box1 li {
    margin-bottom: 20px;
    margin-left: 140px;


}



/* box-2 */

.Husmokh .box2 li {
    margin-bottom: 20px;
    margin-left: 30px;


}



/* box-3 */

.Husmokh .box3 li {
    margin-bottom: 20px;
    margin-left: 30px;


}



/* box-4 */


.Husmokh .box4 li {
    margin-bottom: 20px;
    margin-right: 150px;

}


.Husmokh ul li:hover {
    color: #ccc;
    cursor: pointer;
}



/* copyright- section */





.copy {
    height: 100px;
    background-color: #212121;

    color: #fff;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.copy:hover {
    color: #ff573b;
    cursor: pointer;
}




/* service-section new page */


.container1 {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}


.ritu {
    float: right;
    width: 38%;
    padding: 150px 80px 100px 10px;

}

h6 {
    font-size: 30px;
    font-weight: 700;
    padding: 150px 5px 20px 80px;
}

.maa {
    padding: 20px 30px 20px 80px;
    color: #747373;
    line-height: 1.5rem;
}






/* sections by section */




.Construction​-section {
    padding-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


.card:hover {
    border: 2px solid #00349b;

}



/* CONTACT-SECTION  */

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 0, 106, 0.4);
    padding: -top;
}


form {
    max-width: 550px;
    width: 90%;
    background: #fff;
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    margin-bottom: 100px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h7 {
    margin: 0;
    text-align: center;
}


label {
    display: block;
    margin: 20px 0;
}


input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #D3d3d3;

}

input[type="text"]:focus,
textarea:focus {
    border-bottom: 1px solid rgb(255, 0, 106);

}

textarea::-webkit-scrollbar {
    width: 4px;
}


textarea::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 106);
}

.center {
    text-align: center;
}


input[type="submit"] {
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    background: linear-gradient(to right, rgb(255, 0, 106), rgb(255, 67, 61));
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
}





.error {
    color: red;
}

.error-border {
    border-bottom: 1px solid red;
}

#success {
    color: #28a745;
}








/* gallary-section */

/* 
input {
    display: none;
} */

.gallary-section {
    width: 100%;
    text-align: center;
}

h3 {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

h3::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    animation: coding 4s linear infinite;

}

@keyframes coding {
    0% {
        width: 100px;
    }


    50% {
        width: 200px;
    }

    100% {
        width: 100px;
    }

}


.top-content {
    background-color: rgb(243, 243, 243);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}

h3 {
    height: 100%;
    background-color: rgb(221, 221, 221);
    line-height: 60px;
    padding: 0 50px;
    color: white;
}

label {
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;

}

label:hover {
    color: black;
}

.Photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 150px;
}

.gallery-item {
    position: relative;
    height: 230px;
    box-shadow: 3px 3px 5px lightgray;
    border-radius: 10px;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;

}

.gallery-item::before {
    content: "PHOTO GALLERY";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.gallery-item::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
}

.gallery-item:hover::after {
    height: 100%;
}

.gallery-item:hover::before {
    margin-top: 0;
    opacity: 1;

}

/* 

#check1:checked  ~  .gallary-section .Photo-gallery .gallery-item {
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
} */